<div>
  <header>
    <h3 class='Title'>{{title}}</h3>
  </header>
  <wim-navbar>
    <div nav-title>{{title}}</div>
    <div nav-links>
      <a *ngIf="!show" (click)="Activate()">
        <span class="nav-link-text">Activate Query Tool</span>
      </a>
      <a *ngIf="show" (click)="Deactivate()">
        <span class="nav-link-text">Deactivate Query Tool</span>
      </a>
      <a (click)="open()">
          <span>
              <i class="ion-information-circled"></i>
              <span class="nav-link-text">About</span>
          </span>
      </a>
    </div>
  </wim-navbar>
  <tot-core></tot-core>
</div>
